{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'styles/login.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body class="bg-gray-100 font-sans antialiased">
    <!-- Navbar -->
    <nav class="navbar">
        <div>
            <h1 class="logo">Salon Savvy Ke</h1>
        </div>
    </nav>

    <!-- Main content -->
    <div class="main-content">
        <div class="form-container">

            <!-- Login form -->
            <form class="form" action="{% url 'core:login' %}" method="POST">
                {% csrf_token %}

                {% if error_message %}
                    <div class="error-message">
                        <h2>{{ error_message }}</h2>
                    </div>
                {% endif %}

                <h2 class="form-title">Login</h2>
                <div>
                    <label for="username" class="form-label">Username</label>
                    <input type="text" id="username" name="username" placeholder="Enter your username..." class="form-input">
                </div>

                <div>
                    <label for="password" class="form-label">Password</label>
                    <input type="password" id="password" name="password" placeholder="Enter your password..." class="form-input">
                </div>
                <button type="submit" class="form-button">Login</button>
            </form>

        </div>
    </div>
</body>
</html>
