{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="{% static 'styles/signup.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body class="bg-gray-100 font-sans antialiased">
    <!-- Navbar -->
    <nav class="navbar">
        <div>
            <h1 class="logo">Salon Savvy Ke</h1>
        </div>
    </nav>

    <br>
    <!-- Main content -->
    <div class="main-content">
        <div class="form-container">

            <!-- Signup form -->
            <form class="form" id="signup-form" action="" method="POST">
                {% csrf_token %}

                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                <h2 class="form-title">Signup</h2>
                <div>
                    <label for="username" class="form-label">Username</label>
                    <input type="text" id="username" name="username" placeholder="Enter your username..." class="form-input">
                </div>

                <div>
                    <label for="email" class="form-label">Email</label>
                    <input type="email" id="email" name="email" placeholder="Enter your email..." class="form-input">
                </div>

                <div>
                    <label for="password" class="form-label">Password</label>
                    <div class="password-field">
                        <input type="password" id="password" name="password" placeholder="Enter your password..." class="form-input">
                        <i class="far fa-eye" id="togglePassword"></i>
                    </div>
                </div>

                <div>
                    <label for="repeatPassword" class="form-label">Repeat Password</label>
                    <input type="password" id="repeatPassword" name="repeatPassword" placeholder="Repeat your password..." class="form-input">
                </div>
                <button type="submit" class="form-button">Signup</button>
            </form>
            
            <p>Already have an account? <a href="{% url 'core:login' %}">Login</a></p>

            <script>
                document.getElementById('signup-form').addEventListener('submit', function(event) {
                    // Get form elements
                    var username = document.getElementById('username').value;
                    var email = document.getElementById('email').value;
                    var password = document.getElementById('password').value;
                    var repeatPassword = document.getElementById('repeatPassword').value;
            
                    // Perform validation
                    if (!username || !email || !password || !repeatPassword) {
                        alert('All fields are required');
                        event.preventDefault(); // Prevent form submission
                    } else if (password !== repeatPassword) {
                        alert('Passwords do not match');
                        event.preventDefault(); // Prevent form submission
                    }
                });

                // Toggle password visibility
                const togglePassword = document.querySelector('#togglePassword');
                const password = document.querySelector('#password');
                togglePassword.addEventListener('click', function() {
                    const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
                    password.setAttribute('type', type);
                    this.classList.toggle('fa-eye-slash');
                });
            </script>
        </div>
    </div>
</body>
</html>
